<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/city">Show list</a>
</div>
<div th:object="${city}">
    <h3 th:text="'City: ' + ${city.name}"></h3>
    <p th:text="'Name: '+ ${city.name}"></p>
    <p th:text="'Area: '+ ${city.area}"></p>
    <p th:text="'Population: '+ ${city.population}"></p>
    <p th:text="'GDP: '+ ${city.gdp}"></p>
    <p th:text="'Description: '+ ${city.description}"></p>
</div>
<div>
    <form action="/city/edit" method="post">
        <input type="submit" value="Edit">
    </form>
</div>
<div>
    <form action="/city/delete" method="post">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>